<div id="jadwal-weekly-modal" class="modal fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center hidden p-4 z-50">
    <div class="bg-card rounded-lg shadow-xl w-full max-w-4xl max-h-[90vh] flex flex-col">
        <div class="p-6 border-b border-main flex justify-between items-center">
            <div>
                <h3 class="text-2xl font-bold text-main">Jadwal Mingguan</h3>
                <p id="jadwal-weekly-title" class="text-subtle text-sm"></p>
            </div>
            
            <button type="button" class="btn-cancel-jadwal-weekly text-gray-400 hover:text-gray-600 text-3xl leading-none" data-dismiss="modal">&times;</button>
        
        </div>
        <div id="jadwal-weekly-container" class="p-6 overflow-y-auto space-y-4">
            </div>
    </div>
</div>