<div class="bg-card p-6 rounded-lg shadow-md">
    <div class="flex flex-col md:flex-row justify-between items-center mb-4 gap-4">
        <h2 class="text-2xl font-bold text-main">Rincian Nilai Akademik</h2>
        <div id="info-siswa-akademik" class="text-right text-sm text-subtle">
            </div>
    </div>
    <div class="overflow-x-auto">
        <table class="w-full text-sm text-left">
            <thead class="text-xs text-subtle uppercase bg-tertiary">
                <tr>
                    <th class="p-3">No</th>
                    <th class="p-3">Kode Mapel</th>
                    <th class="p-3">Nama Mata Pelajaran</th>
                    <th class="p-3 text-center">Nilai</th>
                    <th class="p-3 text-center">Keterangan</th>
                </tr>
            </thead>
            <tbody id="view-nilai-akademik-table-body">
                </tbody>
        </table>
    </div>
</div>